.cat-info {
  display: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
label {
 font-size: 2em;
 font-weight: 800;
}

img {
 width: 500px;
 height: 341px;
 cursor: pointer;
}

h1 {
  font-size: 5em;
}

h1, h3 {
  font-weight: 800;
}

.jumbotron {
  padding-top: 0px;
}

.clickCounter {
  height: 120px;
  width: 200px;
  font-weight: 800;
  font-size: 5em;
}

.menu-title {
  text-decoration: underline;
}

ul, li {
  list-style-type: none;
  width: 340px;
  padding: 0;
}

li {
  display: block;
  cursor: pointer;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.col-sm-center {
  text-align: center;
}

.cats-list,
.cats-list > li,
.cats-list > li > h2 {
  display: inline;
  margin: 0 5px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-sm-center {
    text-align: left;
  }

  .cats-list,
  .cats-list > li,
  .cats-list > li > h2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
